.text-field {
  -fx-border-radius: 12;
  -fx-border-color: rgb(250, 250, 250);
  -fx-min-width: 289.8;
  -fx-blend-mode: lighten;
  -fx-font-size: 1.5em;
  -fx-background-color: black;
  -fx-font-family: "Poppins";
  -fx-font-weight: 600;
  -fx-text-fill: white;
  -fx-border-width: 1.1px;
  -fx-prompt-text-fill: white;
  -fx-prompt-text-font-family: "Montserrat";
  -fx-padding: 2 2 2 8;
}

.text-fields{
  -fx-border-radius: 12;
  /*-fx-border-color: rgb(250, 250, 250);*/
  -fx-min-width: 289.8;
  -fx-blend-mode: darken;
  -fx-font-size: 1.5em;
  -fx-background-color: rgba(220,220,220,0.14);
  -fx-font-family: "Poppins";
  -fx-font-weight: 600;
  -fx-text-fill: black;
  /*-fx-border-width: 1.1px;*/
  -fx-prompt-text-fill: black;
  -fx-prompt-text-font-family: "Montserrat";
  -fx-padding: 2 2 2 8;
}
#back{
  -fx-background-image: url(back.png);
  -fx-blend-mode: lighten;
}

.btn {
  -fx-background-color: #2A2A2A;
  -fx-background-radius: 15;
  -fx-border-radius: 6;
  -fx-border-width: 2px;
  -fx-border-color: rgb(255, 255, 255);
  -fx-font-family: "Montserrat";
  -fx-font-size: 1.3em;
  -fx-font-weight: 800;
  -fx-padding: 5;
  -fx-text-fill: white;
  -fx-alignment: CENTER;
}

.btn:hover {
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #2A2A2A;
  -fx-border-color: #2A2A2A;
  -fx-border-radius: 16;
}

.users {
  -fx-blend-mode: multiply;
}

.radios {
  -fx-blend-mode: multiply;
}

.radios:hover {
  -fx-blend-mode: darken;
}

#static{
  -fx-blend-mode: lighten;
}

.users:hover {
  -fx-blend-mode: lighten;
}

#logout {
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #2A2A2A;
  -fx-border-color: #2A2A2A;
  -fx-border-width: 2px;
  -fx-font-size: 1em
}

#logout:hover {
  -fx-background-color: #2A2A2A;
  -fx-text-fill: white;
}

#frgt {
  -fx-text-style: underline;
}

#signup{
  -fx-background-image: url("Bg.png");
  -fx-background-repeat: no-repeat;
}

#sign_up{
  -fx-background-color: rgba(20,20,20,0.1);
  -fx-padding: 4,0,4,0;
}

#sign_up:hover {
  -fx-background-color: rgba(255,255,255,0.2);
  -fx-text-fill: rgba(20,20,20,0.6);
}

.signup-txtfield {
  -fx-border-radius: 12;
  -fx-background-radius-radius: 12;
  /*-fx-min-width: 289.8;*/
  -fx-font-size: 1.3em;
  -fx-border-insets: none;
  -fx-blend-mode: lighten;
  -fx-background-color: #F4994B;
  -fx-font-family: "Poppins";
  -fx-text-fill: rgba(10,10,10,0.2);
  -fx-font-weight: 700;
}

.profile{
  -fx-border-radius: 50;
  -fx-background-radius: 50;
}

.label{
  -fx-font-size: 1.3em;
  -fx-font-family: "Poppins";
  -fx-text-fill: rgb(10,10,10);
  -fx-font-weight: 600;
}

.label-main{
  -fx-font-size: 1.4em;
  -fx-font-family: "Poppins SemiBold";
  -fx-text-fill: rgb(10,10,10);
}